@{
    ViewBag.Title = "About - Anigrams Productions";
}

<!-- banner -->
<div class="banner">
    <div class="bnr2">
    </div>
</div>
<!-- content -->
<div class="blog">
    <div class="container">
        <div class="col-md-8 blog-left">
            <div class="blog-info">
                <div class="blog-info-text">
                    <div class="blog-img">
                        <img src="~/images/Anigrams Logo New.png" alt="Anigrams Logo" />
                    </div>
                    <br />
                    <h4>What is Anigrams Productions?</h4>
                    <p>As of now, it's a one-woman show run by yours truly. My plan is to design games for girls and young women that aren't all about pretty pink ponies and rainbows. This isn't to say that all of my games will only be for girls, but as a young woman myself, that's what I'm most interested in doing.</p>
                    <br />
                    <h4>What types of games does Anigrams make?</h4>
                    <p>My main forte is visual novels, since it's a medium I can easily work with. This may change in the future as I branch out and experiment with different programs and mediums.</p>
                    <br />
                    <h4>Where can Anigrams' games be played?</h4>
                    <p>Available downloads are listed <a href="http://anigrams-games.tumblr.com/downloads" target="_blank">here</a>. If you cannot access the download for whatever reason, leave a comment somewhere and I'll fix the link. Everything you need to play the game should be included in the .zip file. The files are generally quite large, simply due to the mass number of files involved. If you have a slow internet connection, you can request a version of the game without music, which should significantly decrease the download time.</p>
                    <br />
                    <h4>What program(s) are used to make these games?</h4>
                    <p>For Memoirs of an Angel, I used a Python-based visual novel engine called <a href="http://www.renpy.org" target="_blank">Ren'Py</a>. I highly recommend it to anyone who thinks they may want to make games of their own, but don't know where to start. For the Memoirs Character Creator, I used a program called <a href="http://www.yoyogames.com/studio" target="_blank">GameMaker: Studio</a>. To make the graphics, I use a free graphics program called <a href="http://www.gimp.org/" target="_blank">GIMP</a>.</p>
                    <br />
                    <h4>Where does the art come from?</h4>
                    <p>Background art is generally from free resource sites. If I have the money, I'll commission custom background art. All of the character art I use was commissioned from various artists contacted through online channels. For the Memoirs Character Creator, I actually drew all of the art myself (which I'm pretty proud of).</p>
                    <br />
                    <h4>Can Anigrams' games be played on a Mac?</h4>
                    <p>Yes! I will release all of my games in such a way that Windows, Mac, and Linux users should all be able to operate them.</p>

                    <p>Have a question that isn't answered here? <a href="http://anigrams-games.tumblr.com/ask" target="_blank">Just ask!</a></p>

                </div>
            </div>
        </div>
        <div class="col-md-4 single-page-right">
            <div class="category blog-ctgry">
                <h4>Links</h4>
                <div class="list-group">
                    <a href="http://anigrams-games.tumblr.com/downloads" target="_blank" class="list-group-item">Downloads</a>
                    <a href="http://www.renpy.org/" target="_blank" class="list-group-item">Ren'Py</a>
                    <a href="http://www.yoyogames.com/studio" target="_blank" class="list-group-item">GameMaker: Studio</a>
                    <a href="http://www.gimp.org/" target="_blank" class="list-group-item">GIMP</a>
                    <a href="http://anigrams-games.tumblr.com/ask" target="_blank" class="list-group-item">Ask Box</a>
                </div>
            </div>
            <div class="recent-posts">
                <h4>Completed Games</h4>
                <div class="recent-posts-info">
                    <div class="posts-left sngl-img">
                        <img src="~/images/t1.jpg" class="img-responsive" alt="Memoirs of an Angel" />
                    </div>
                    <div class="posts-right">
                        <label>Memoirs of an Angel</label>
                        <p>As the former princess Zuleika, take back your throne and find love with your prince.</p>
                        <a href="@Url.Action("Memoirs2010", "Projects")" class="btn btn-primary hvr-rectangle-in">Read More</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="recent-posts-info">
                    <div class="posts-left sngl-img">
                        <img src="~/images/t2.jpg" class="img-responsive" alt="Memoirs Character Creator" />
                    </div>
                    <div class="posts-right">
                        <label>Character Creator</label>
                        <p>Create your own character in the Memoirs universe with this browser-based game.</p>
                        <a href="../charactercreator/main.html" class="btn btn-primary hvr-rectangle-in">Play Game</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
