
@{
    ViewBag.Title = "Memoirs of Genesis - Anigrams Productions";
}

<!-- banner -->
<div class="banner">
    <div class="bnr2">
    </div>
</div>
<!-- content -->
<div class="about">
    <div class="container">
        <h2>The Memoirs Character Creator</h2>
        <div class="about-info-grids">
            <div class="col-md-5 abt-pic">
                <img src="../../images/charactercreatorgui.png" class="img-responsive" alt="Memoirs Character Creator" />
            </div>
            <div class="col-md-7 abt-info-pic">
                <h4>Browser-Based Character Designer</h4>
                <p>Explore the world behind the <strong>Memoirs</strong> series with this detailed character designer, based on character creation screens from classic RPGs. Choose your character's gender, race, elemental affinity, culture, profession, and class, then design how they look with hundreds of customization options and thousands of possible combinations. Distribute your character's stats to make them mighty, wise, evil, charismatic, or whatever else you want them to be!</p>

                <p>Finally, give your character a name and flesh out their likes, dislikes, personality, and background (or let them be a blank slate). Then take a screenshot, post it, and share it with your friends!</p>

                <p><strong>The Memoirs Character Creator</strong> is great for designing basic role-playing characters, even for worlds other than Egea, or just killing time coming up with the perfect combination of looks and traits. More options will be added soon.</p>

                <a class="block-btn hvr-bounce-to-top" href="~/charactercreator/main.html" target="_blank">Play Game</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

